 /* Inter font  */
.open-sans-inter {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: normal;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

/* Raleway Font  */

.open-sans-raleway> {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: bold;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}


/* header */
/* navbar and banner backround image  */
.header{
    background-image: url('./Assets/Hero-bg.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 1900px;
    height: 650px;
}

/* main  */
main{
    background-color: #f0f4ff;
}

/* Navbar section  */


.navbar-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0px 80px;

}
.navbar-logo{
    color: #4E47FF;
    font-size: 34px;
    font-weight: 800;
    

}

.navbar-btn{
    background-color: #4E47FF;
    border: none;
    border-radius: 12px;
    padding: 18px 36px;
    color: #FFFFFF;
    margin-right: 110px;
}

/* banner-section  */
.banner-section{
    margin-top: 50px;
    text-align: center;
}

.banner-btn{
    background-color: #4E47FF;
    border: none;
    border-radius: 12px;
    padding: 14px 36px;
    color: #FFFFFF;
    font-weight: bold;
    margin-top: 50px;
}
.banner-title{
    
    color: #252432;
    font-weight: bold;
    font-size: 65px;
    margin: 0px;
}


/* action section  */
.action-section{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 180px;
    
}
.action-title{
    font-size: 42px;
    font-weight: bold;

}
.action-description{
    font-size: 24px;
    color: #2524328c;
    font-weight: normal
    
}

.action-btn{
    background-color: #4E47FF;
    border: none;
    border-radius: 10px;
    padding: 14px 36px;
    color: #FFFFFF;
    font-weight: bold;
    
}
.action-img{
    background-repeat: no-repeat;
    border-radius: 48px;
    width: 403px;
    height: 328px;
    margin-top: -40px;
    margin-left: 80px;
    
}

/* Productive User Section  */
.productive-section{
    background-color: #4d47ff29;
    border-radius: 24px;
    text-align: center;
    padding: 20px;
    width: 1140px;
    margin: 60px auto;
    
}
.productive-user-title{
    text-align: center;
    font-weight: bold;
    font-size: 38px;
}
.productive-user-statics{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.statics-item{
    margin: 0px;
}
.statics-item h1{
    color: #4E47FF;
    font-size:80px ;
    font-weight: bold;
    margin: 0px;

}
.statics-item p{
    color:#2524328c ;
    font-size: 20px;
    margin: 0px;
    
}

/* user-feedback-section  */

.user-feedback-section {
    background-color: #f3f6ff;
    padding: 60px 0;
    text-align: center;
}

.feedback-title {
    font-size: 42px;
    font-weight: bold;
    color: #252432;
    
}

.user-feedback-container {
    display: flex;
    justify-content: center;
    gap: 30px;
    margin: 0 80px;
}

.card-1 {
    background-color: #ffffff;
    width: 300px;
    padding: 20px;
    border-radius: 16px;
    text-align: left;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.05);
}

.star-row {
    display: flex;
    gap: 4px;
    margin-bottom: 10px;
}

.star-row img {
    width: 20px;
    height: 20px;
}

.card-1 h2 {
    font-size: 24px;
    font-weight: bold;
    margin: 0 0 10px 0;
    color: #252432;
}

.card-1 p {
    font-size: 14px;
    color: #555555;
    margin-bottom: 20px;
}

.reviewer-info {
    display: flex;
    align-items: center;
    gap: 10px;
}

.review-img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
}

.reviewer-name {
    font-weight: 600;
    margin: 0;
    font-size: 14px;
}

.review-date {
    font-size: 12px;
    color: #999999;
    margin: 0;
}



/* Contact Section Styles */
.contact-section {
  background-color: #f1f5ff;
  padding: 80px 20px;
}

.contact-container {
  max-width: 1100px;
  margin: 0 auto;
  display: flex;
  gap: 60px;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}


.contact-left h2 {
  font-size: 64px;
  font-weight: 800;
  color: #000;
  margin-right: 250px;
}


.contact-right form {
  background-color: #ffffff;
  padding: 30px;
  border-radius: 12px;
  width: 400px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
}

.contact-right label {
  font-weight: 500;
  font-size: 14px;
}

.contact-right input,
.contact-right textarea {
  padding: 12px 14px;
  font-size: 14px;
  border: 1px solid #ddd;
  border-radius: 8px;
  background-color: #f6f9ff;
  outline: none;
}

.contact-right textarea {
  resize: none;
  height: 100px;
}

.contact-right button {
  background-color: #4e47ff;
  color: white;
  padding: 14px;
  border: none;
  border-radius: 10px;
  font-weight: bold;
  font-size: 14px;
  cursor: pointer;
}


/* Footer Section */
.footer-section {
  text-align: center;
  padding: 60px 0;
  background-color: #ffffff;
}

.footer-logo {
  color: #4E47FF;
  font-size: 100px;
  font-weight: bold;
  margin: 0px;
}

.footer-subtitle {
  max-width: 500px;
  margin: 10px auto;
  color: #8987A1;
  font-size: 18px;
}

.footer-links {
  margin-top: 20px;
}

.footer-links a {
  margin: 0 10px;
  color: #8987A1;
  text-decoration: none;
  font-size: 18px;
}
