 /* Inter font  */
.open-sans-inter {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: normal;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

/* Raleway Font  */

.open-sans-raleway> {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: bold;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}


/* header */
/* navbar and banner backround image  */
.header{
    background-image: url('/Assets/Hero-bg.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 1900px;
    height: 650px;
}

/* main  */
main{
    background-color: #f0f4ff;
}

/* Navbar section  */


.navbar-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0px 80px;

}
.navbar-logo{
    color: #4E47FF;
    font-size: 34px;
    font-weight: 800;
    

}

.navbar-btn{
    background-color: #4E47FF;
    border: none;
    border-radius: 12px;
    padding: 18px 36px;
    color: #FFFFFF;
    margin-right: 110px;
}

/* banner-section  */
.banner-section{
    margin-top: 50px;
    text-align: center;
}

.banner-btn{
    background-color: #4E47FF;
    border: none;
    border-radius: 12px;
    padding: 14px 36px;
    color: #FFFFFF;
    font-weight: bold;
    margin-top: 50px;
}
.banner-title{
    
    color: #252432;
    font-weight: bold;
    font-size: 65px;
    margin: 0px;
}


/* action section  */
.action-section{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 180px;
    
}
.action-title{
    font-size: 42px;
    font-weight: bold;

}
.action-description{
    font-size: 24px;
    color: #2524328c;
    font-weight: normal
    
}

.action-btn{
    background-color: #4E47FF;
    border: none;
    border-radius: 10px;
    padding: 14px 36px;
    color: #FFFFFF;
    font-weight: bold;
    
}
.action-img{
    background-repeat: no-repeat;
    border-radius: 48px;
    width: 403px;
    height: 328px;
    margin-top: -40px;
    margin-left: 80px;
    
}

/* Productive User Section  */
.productive-section{
    background-color: #4d47ff29;
    border-radius: 24px;
    text-align: center;
    padding: 20px;
    width: 1140px;
    margin: 60px auto;
    
}
.productive-user-title{
    text-align: center;
    font-weight: bold;
    font-size: 38px;
}
.productive-user-statics{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.statics-item{
    margin: 0px;
}
.statics-item h1{
    color: #4E47FF;
    font-size:80px ;
    font-weight: bold;
    margin: 0px;

}
.statics-item p{
    color:#2524328c ;
    font-size: 20px;
    margin: 0px;
    
}
